.buttonChangeColorStyle {
  transition: background-color 0.25s ease-in-out;
  background-color: rgb(226, 232, 240);
}

.buttonChangeColorStyle:hover {
  background-color: rgb(203, 213, 225);
}

.errorGoDown {
  animation: errorGoDown 0.25s ease-in-out;
  translate: 0% 110%;
}

.errorGoUp {
  animation: errorGoUp 0.25s ease-in-out;
  translate: 0% 0%;
}

@keyframes errorGoDown {
  0% {
    translate: 0% 0%;
  }

  100% {
    translate: 0% 110%;
  }
}

@keyframes errorGoUp {
  0% {
    translate: 0% 110%;
  }

  30% {
    translate: 0% 140%;
  }

  100% {
    translate: 0% 0%;
  }
}
